@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

/* Colour Palette - SFU palette

SFU Red - Pantone 187 - #A6192E
SFU Black - Pantone 425 - #54585A
SFU Blue - Pantone 7705 - #007096
SFU Gold - Pantone 7753 - #C1A01E

*/

body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-brand {
	font-family: 'Merriweather', serif;
}

.button.primary {
	background-color: #007096;
	font-size: 16px;
	font-weight: bold;
}
.button.primary:hover {
	background-color: #005977;
	text-decoration: underline;
}

.nav-desktop,
footer {
	background-color: #A6192E;
}

.hero-panel {
	background-image: url("../img/topography.png");
	height: 350px;
}

.hero-panel h1 {
	font-size: 50px;
}

.hero-subtitle {
	font-size: 30px;
	font-family: 'Merriweather', serif;
}

.menu > li > a {
	font-size: 18px;
}

footer a {
	font-size: 0.9em;
	color: rgba(255,255,255, 0.8);
}

footer a span {
	color: rgba(255,255,255, 0.5);
}